.about {
  overflow-x: hidden;
  margin-top: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.aboutWrapper h3 {
  font-family: var(--family2);
  font-size: 20px;
  font-weight: 500;
  color: var(--main);
}

.aboutWrapper span {
  color: var(--primary);
}

.aboutContent {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  grid-gap: 10px;
}

.containerContent {
  margin-bottom: 10px;
  padding: 10px;
  height: 57vh;
  width: 27vw;
  overflow: hidden;
  box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.6);
  border-radius: 7px;
}

.containerContent h6 {
  text-align: center;
  font-family: var(--family2);
  font-size: 20px;
  font-weight: 500;
  color: var(--main);
}

.containerContent p {
  text-align: center;
  font-family: var(--family2);
  font-size: 16px;
  font-weight: 300;
  color: var(--main);
}

.aboutFooter {
  text-align: center;
  font-family: var(--family2);
  font-size: 16px;
  font-weight: 300;
}

@media screen and (max-width: 798px) {
  .containerContent {
    height: 57vh;
    width: 37vw;
  }
}

@media screen and (max-width: 540px) {
  .containerContent {
    height: 57vh;
    width: 60vw;
  }
}

@media screen and (max-width: 411px) {
  .aboutWrapper h3 {
    font-family: var(--family2);
    font-size: 16px;
    font-weight: 500;
    color: var(--main);
    text-align: center;
  }
}

@media screen and (max-width: 352px) {
  .containerContent {
    height: 70vh;
  }
}
